
img {
  float: left;
}





.sidebar {
  width: 30%;
  float: right;
  background-color: red;
}

.center {
  text-align: center;
}

.align {
  text-align: center;
  list-style-type: none;
}


}
.column {
  width: 250px;
  float: left;
}
