


#wrapper{
    width: 980px;
    margin: 0 auto;
    background: #fff;
}

h1 {
  text-align: center;
}

.main-content{
  text-align: right;
}


img{
  float: left;
  padding-right: 6px;
}





.sidebar {
  width: 30%;
  float: right;
  background-color: red;
  border: solid 1px black;
}


.inner {
  padding: 4px;
  margin: 2px;
}
.center {
  text-align: center;
}

.align {
  text-align: center;
  list-style-type: none;
}


.column {
  width: 200px;
  float: right;
  padding-right: 8px;
}
